# Adding ignored files
*.deb
*.rpm
*.tar.gz
*.tgz
_CPack_Packages
CMakeFiles
CMakeCache.txt
*.cmake
Makefile
*.1.gz
*.a
bin/infod
bin/infod-best
bin/infod-client
bin/infod-ctl
bin/mmon
bin/testload
include/gossimon_config.h
infod-best/infod-best
infod-client/infod-client
infod-ctl/infod-ctl
*.8.gz
*.so
infod/infod
install_manifest.txt
libgossip/gossip-calc
mmon/mmon
testload/testload


